{% extends "lista.html" %}

{% block title %}Clientes{% endblock %}

{% block filtros %}
  <div class="filter-container">
    <form method="get">
      <label for="agente">Agente:</label>
      <select name="agente" id="agente">
        <option value="">Todos</option>
        {% for a in agentes %}
          <option value="{{ a.agente_id }}" {% if agente_selected == a.agente_id|stringformat:'s' %}selected{% endif %}>
            {% if a.agente__first_name or a.agente__last_name %}
              {{ a.agente__first_name }} {{ a.agente__last_name }}
            {% else %}
              {{ a.agente__username }}
            {% endif %}
          </option>
        {% endfor %}
      </select>
      <button type="submit" class="btn-filter">Filtrar</button>
      <a href="{% url 'clientes_lista' %}" class="btn-filter">Limpiar</a>
    </form>
    <a href="{% url 'agregar_cliente' %}?next={{ request.get_full_path|urlencode }}" class="btn-primary">Nuevo cliente</a>
  </div>
{% endblock %}

{% block tabla_head %}
  <tr>
    <th>Cliente</th>
    <th>Agente</th>
    <th>Eventos</th>
    <th>Contacto</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th>Fecha registro</th>
    <th>Acciones</th>
  </tr>
{% endblock %}

{% block tabla_body %}
  {% for c in clientes %}
    <tr>
      <td>{{ c.cliente }}</td>
      <td>{{ c.agente.get_full_name|default:c.agente.username }}</td>
      <td>{{ c.num_eventos}}</td>
      <td>{{ c.contacto }}</td>
      <td>{{ c.num_contacto }}</td>
      <td>{{ c.correo }}</td>
      <td>{{ c.fecha_registro|date:"d/m/Y H:i" }}</td>
      <td><a href="{% url 'editar_cliente' c.id %}?next={{ request.get_full_path|urlencode }}" class="btn-detalle">Detalle</a></td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="100%">Sin clientes registrados</td>
    </tr>
  {% endfor %}
{% endblock %}




