{% extends "base.html" %}
{% load static %}

{% block title %}Formulario{% endblock %}

{% block content %}
  <main>
  <div class="filter-container">
    <a href="{% url 'clientes_lista' %}">Volver</a>
  </div>

  <div class="form-container">
    <form method="post">
      {% csrf_token %}
      {% block form_fields %}
        <!-- Aquí van los campos específicos del formulario hijo -->
        {% endblock %}
        <button type="submit" class="btn-submit">Guardar</button>
        {% block extra_actions %}{% endblock %}
      </form>
  </div>
  </main>
{% endblock %}
